{
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLite": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "auto"
}
